@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Black+Ops+One&family=Metal+Mania&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Abel", sans-serif;
    text-decoration: none;
    outline: none;
    background-color: #111;
}

html {
    font-size: 62.5%;
}

/* Navbar */
.navbar {
    width: 100%;
    height: 8rem;
    background-color: #001;
    position: fixed;
    top: 0;
    z-index: 100;
}

.am {
    font-family: "Black Ops One", system-ui;
    width:45px;
    height:45px;
    border-radius: 50%;
    border-style: solid;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 3rem;
    margin-bottom: 9px;
    border:2px solid white ;
    background-color: transparent;
    font-weight: 700;
    color: #001;
    font-size: 17px;
    padding: 5px 5px;
    background-color: white;
    letter-spacing: 1px;
}

.brand {
    display: flex;
    position: absolute;
    background-color: transparent;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
}

.brand span {
    font-size: 4rem;
    color: #fff;
    font-family: "Black Ops One", system-ui;
    background-color: transparent;
    letter-spacing: .3rem;
    margin: 1rem 0 0 6rem;
}

sup {
    font-size: 25px;
}

.menu-icon {
    width: 3rem;
    height: 2.5rem;
    position: absolute;
    background-color: transparent;
    top: 50%;
    right: 8rem;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
}

.line {
    width: 4rem;
    height: .2rem;
    background-color: #ccc;
    transition: all .3s;
}

.change .line-1 {
    width: 80%;
    transform: rotateZ(-28deg) translate(-.2rem, .5rem);
}

.change .line-3 {
    width: 80%;
    transform: rotateZ(28deg) translate(-.2rem, -.5rem);
}

.navigation {
    border: solid 12px white;
    width: 100%;
    height: 100vh;
    background-color: #0b0b14;
    position: absolute;
    top: -100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    /* z-index: 50; */
}

.change  .navigation {
    top: 0;
}

.navigation a {
    /* font-family: 'Alfa Slab One', cursive; */
    background-color: #0b0b14;
    font-weight: bold;
    font-size: 5rem;
    color: #fff;
    letter-spacing: .3rem;
    margin-bottom: 1rem;
    position: relative;
    opacity: 0;
    visibility: hidden;
}

.change .navigation a:nth-child(1) {
    transition: all .3s .3s;
}

.change .navigation a:nth-child(2) {
    transition: all .3s .4s;
}

.change .navigation a:nth-child(3) {
    transition: all .3s .5s;
}

.change .navigation a:nth-child(4) {
    transition: all .3s .6s;
}

.change .navigation a:nth-child(5) {
    transition: all .3s .7s;
}

.change .navigation a:nth-child(6) {
    transition: all .3s .8s;
}

.change .navigation a:nth-child(7) {
    transition: all .3s .9s;
}

.change .navigation a {
    opacity: 1;
    visibility: visible;
}

.navigation a::before {
    content: "";
    width: 15rem;
    height: .5rem;
    background-color: #dba81b;
    position: absolute;
    top: 50%;
    left: -17rem;
    transform: translateY(-50%);
    transform: scale(0);
    transform-origin: right;
    transition: transform .3s;
}

.navigation a:hover::before {
    transform: scale(1);
}

.navigation a::after {
    content: "";
    width: 15rem;
    height: .5rem;
    position: absolute;
    background-color: #dba81b;
    top: 50%;
    right: -17rem;
    transform: translateY(-50%);
    transform: scale(0);
    transform-origin: left;
    transition: transform .3s;
}


.navigation a:hover::after {
    transform: scale(1);
}
/* End of Navbar */

.mainDisplay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem;
}

.md1 {
}

.dropper {
    position: relative;
    display: flex;
    margin-top: 5rem;
    margin-left: 1.5rem;
}

.dropper span {
    font-size: 6em;
    color: white;
    font-weight: bold;
    opacity: 0;
    animation: drop 0.4s linear forwards;
}

.dropper::after {
  position: relative;
}

.dropper span:nth-child(2) {
    animation-delay: 0.2s;
  }
  
.dropper span:nth-child(3) {
    animation-delay: 0.4s;
  }
  
.dropper span:nth-child(4) {
    animation-delay: 0.6s;
  }
  
.dropper span:nth-child(5) {
    animation-delay: 0.8s;
  }
  
.dropper span:nth-child(6) {
    animation-delay: 1s;
  }
  
.dropper span:nth-child(7) {
    animation-delay: 1.2s;
  }
  
.dropper span:nth-child(8) {
    animation-delay: 1.4s;
  }
  
.dropper span:nth-child(9) {
    animation-delay: 1.6s;
  }
  
.dropper span:nth-child(10) {
    animation-delay: 1s;
  }
  .dropper span:nth-child(11) {
    animation-delay: 1.2s;
  }
  
.dropper span:nth-child(12) {
    animation-delay: 1.4s;
  }
  
.dropper span:nth-child(13) {
    animation-delay: 1.6s;
  }
  
.dropper span:nth-child(14) {
    animation-delay: 1.2s;
  } 

.dropper span:nth-child(15) {
    animation-delay: 1.6s;
  } 
  
.dropper span:nth-child(16) {
    animation-delay: 1.9s;
  } 
  
@keyframes  drop {
0% {
    transform: translateY(-200px) scaleY(0.9);
}
5% {
    opacity: 0.7;
}
50% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
}
65% {
    transform: translateY(-17px) scaleY(0.9);
}
75% {
    transform: translateY(-22px) scaleY(0.9);
}
100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
}
}

.md1-content {
    margin-top: 8rem;
    margin-left: 1.5rem;
    color: white;
    font-size: 6em;
    font-weight: bold;
    background: url('background.jpg') no-repeat center center/cover;
    animation: fadeInUp 2s ease-in-out;
    animation: slideIn 1s ease-out;
    display: block;
}
@keyframes slideIn {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.main-display-text-change {
    /* white-space: nowrap; */
    /* overflow: hidden; */
    display: inline-block;
    padding-right: 0;
    transition: width 1s ease-in-out;
    border-right: 2px solid white;
}


@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.typing-animation {
    display: inline-block;
    animation: blink 0.75s step-end infinite;
}
.mec{
    font-size: 6em;
    font-weight: bold;
    color: white;
    margin-top: 21rem;
    margin-left: 1.5rem;
    animation: fadeInUp 2s ease-in-out;
    animation: slideIn 1s ease-out;
    align-items: start;
    justify-content: space-between;
}

.md2 {
    display: flex;
    justify-content: center;
    align-items: end;
    /* height: 100vh; */
    background: url('background.jpg') no-repeat center center/cover;
    animation: fadeInUp 2s ease-in-out;
   
}
@keyframes slideIn {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.image-viewer {
    position: relative;
    width: 300px;
    height: 300px;
    animation: slideIn 1s ease-out;
}

.image-container {
    position: absolute;
    top: 90%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;/* flex-end */
    
    align-items: end;/*end*/
    overflow: visible;
}

.image-item {
    position: absolute;
    width: 120px;
    height: 120px;
    object-fit: contain;
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    transform-origin: center;
}

.image-item.active {
    opacity: 2;
    transform: scale(1.4);
}

/* .image-item:nth-child(1) {
    transform: rotate(0deg) translateX(150px) rotate(0deg);
}

.image-item:nth-child(2) {
    transform: rotate(90deg) translateX(150px) rotate(-90deg);
}

.image-item:nth-child(3) {
    transform: rotate(180deg) translateX(150px) rotate(-180deg);
}

.image-item:nth-child(4) {
    transform: rotate(270deg) translateX(150px) rotate(-270deg);
} */

.journey {
    padding: 40px 20px;
    margin-top: 6rem;
    text-decoration: white;
}

.journey h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
    color: white;
}

.timeline {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
}

.timeline::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #888;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-item {
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding: 20px 0;
}

.timeline-item:nth-child(odd) {
    justify-content: flex-end;
}

.timeline-item .timeline-content {
    width: 45%;
    padding: 20px;
    border: solid 2px white;
    background-color: transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

.timeline-item:nth-child(odd) .timeline-content {
    text-align: right;
}

.timeline-item::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white; /* Blue or any color of your choice */
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid white; /* White border around the dot for emphasis */
    z-index: 2; /* Ensures the dot is on top of the timeline line */
}

.timeline-item h3 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.timeline-item ul {
    list-style-type: none;
    padding-left: 20px;
}

.timeline-item ul li {
    font-size: 1.1rem;
    color: white;
    margin-bottom: 8px;
}
